<!--Tabelas-->
<div class="table">
  <!--Tabela de cidades-->
  <div class="table_cidades">
    <caption class="caption_cidades">
      Tabela de Cidades
    </caption>
    <table mat-table [dataSource]="cidades" class="mat-elevation-z8">
      <!-- Id Column -->
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef>No.</th>
        <td mat-cell *matCellDef="let element">{{ element.id }}</td>
      </ng-container>

      <!-- Nome Column -->
      <ng-container matColumnDef="nome">
        <th mat-header-cell *matHeaderCellDef>Nome</th>
        <td mat-cell *matCellDef="let element">{{ element.nome }}</td>
      </ng-container>

      <!-- Estado Column -->
      <ng-container matColumnDef="estado">
        <th mat-header-cell *matHeaderCellDef>Estado</th>
        <td mat-cell *matCellDef="let element">{{ element.estado.nome }}</td>
      </ng-container>

      <!-- Ação Column -->
      <ng-container matColumnDef="acao">
        <th mat-header-cell *matHeaderCellDef>Ação</th>
        <td mat-cell *matCellDef="let element">
          <!--Botão editar-->
          <button
            mat-icon-button
            color="primary"
            routerLink="/estados_cidades/editcidade/{{ element.id }}"
          >
            <mat-icon>edit</mat-icon>
          </button>
          <button mat-icon-button color="warn"
          (click)="openDialog('200ms', '200ms', element)">
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
  </div>
</div>
