.example-spacer {
  flex : 1  1 auto;
}

table{
margin-bottom: 80px;
}

.caption_cidades{
  font-size: 20px;
  padding: 30px;
  justify-content: center;
  display: flex;
}

.caption_estados{
  font-size: 20px;
  padding: 30px;
}

.novo_local_button{
display: flex;
justify-content: flex-end;
padding: 10px;
 
}
.flex-container{
  display: flex;
  align-items: center;
  width: 100%;
}

mat-toolbar{
  background-color: rgba(178, 110, 180, 100%);
}