<mat-toolbar color="primary">
  <div id="flex-container">
    <mat-icon>account_circle</mat-icon>
    <span id="toolbar-username">Olá, Fulano de Tal</span>
    <span id="example-spacer"> 

    </span>
    <button
      mat-icon-button
      class="example-icon"
      aria-label="Example icon-button with menu icon"
    >
      <mat-icon>menu</mat-icon>
    </button>
  </div>
</mat-toolbar>

<div id="title-page">
  <span>FORNECEDOR</span>
</div>

<div class="form-container">
  <mat-card>
    <mat-card-content>
      <form [formGroup]="formGroup">
        <mat-form-field appearance="fill" class="full-width-input">
          <mat-label>Nome da Empresa</mat-label>
          <input matInput type="text" formControlName="nome" />
          <mat-error *ngIf="formGroup.get('nome')?.errors?.['required']">
            <span>O campo nome não pode ser nulo.</span>
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill" class="full-width-input">
          <mat-label>CNPJ</mat-label>
          <input matInput type="text" formControlName="cnpj" />
          <mat-error
            *ngIf="
              formGroup.get('cnpj')?.errors && formGroup.get('cnpj')?.touched
            "
          >
            {{ getErrorMessage("cnpj", formGroup.get("cnpj")?.errors) }}
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill" class="full-width-input">
          <mat-label>Endereço da empresa</mat-label>
          <input matInput type="text" formControlName="endereco" />
          <mat-error
            *ngIf="
              formGroup.get('endereco')?.errors &&
              formGroup.get('endereco')?.touched
            "
          >
            {{ getErrorMessage("endereco", formGroup.get("endereco")?.errors) }}
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill" class="full-width-input">
          <mat-label>Email da empresa</mat-label>
          <input matInput type="text" formControlName="email" />
          <mat-error
            *ngIf="
              formGroup.get('email')?.errors && formGroup.get('email')?.touched
            "
          >
            {{ getErrorMessage("email", formGroup.get("email")?.errors) }}
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill" class="full-width-input">
          <mat-label>Telefone da empresa</mat-label>
          <input matInput type="text" formControlName="telefone" />
          <mat-error
            *ngIf="
              formGroup.get('telefone')?.errors &&
              formGroup.get('telefone')?.touched
            "
          >
            {{ getErrorMessage("telefone", formGroup.get("telefone")?.errors) }}
          </mat-error>
        </mat-form-field>
      </form>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary" (click)="salvar()">
        Salvar
      </button>
    </mat-card-actions>
  </mat-card>
</div>
