<style>
  @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap')
  </style>
<!--Menu da página-->
<mat-toolbar class="mat-toolbar" color="primary">
  <div class="flex-container">
    <mat-icon id="account_circle">account_circle</mat-icon>
    <span>Olá, pessoa logada</span>
    <span class="example-spacer"></span>
    <img [src]="imageUrl" alt="Minha Imagem"/>
    <button
      mat-icon-button
      id="menu-icon"
      aria-label="Example icon-button with menu icon"
    >
      <mat-icon>menu</mat-icon>
    </button>
  </div>
</mat-toolbar>

<div id="title-page">
  <span> CADASTRAR FORNECEDOR</span>
</div>

<div class="form-container">
  <mat-card>
    <mat-card-content>
      <form [formGroup]="formGroup">
        <mat-form-field appearance="fill" class="full-width-input">
          <mat-label>Nome da Empresa</mat-label>
          <input matInput type="text" formControlName="nome" />
          <mat-error *ngIf="formGroup.get('nome')?.errors?.['required']">
            <span>O campo nome não pode ser nulo.</span>
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill" class="full-width-input">
          <mat-label>CNPJ</mat-label>
          <input matInput type="text" formControlName="cnpj" />
          <mat-error
            *ngIf="
              formGroup.get('cnpj')?.errors && formGroup.get('cnpj')?.touched
            "
          >
            {{ getErrorMessage("cnpj", formGroup.get("cnpj")?.errors) }}
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill" class="full-width-input">
          <mat-label>Endereço da empresa</mat-label>
          <input matInput type="text" formControlName="endereco" />
          <mat-error
            *ngIf="
              formGroup.get('endereco')?.errors &&
              formGroup.get('endereco')?.touched
            "
          >
            {{ getErrorMessage("endereco", formGroup.get("endereco")?.errors) }}
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill" class="full-width-input">
          <mat-label>Email da empresa</mat-label>
          <input matInput type="text" formControlName="email" />
          <mat-error
            *ngIf="
              formGroup.get('email')?.errors && formGroup.get('email')?.touched
            "
          >
            {{ getErrorMessage("email", formGroup.get("email")?.errors) }}
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill" class="full-width-input">
          <mat-label>Telefone da empresa</mat-label>
          <input matInput type="text" formControlName="telefone" />
          <mat-error
            *ngIf="
              formGroup.get('telefone')?.errors &&
              formGroup.get('telefone')?.touched
            "
          >
            {{ getErrorMessage("telefone", formGroup.get("telefone")?.errors) }}
          </mat-error>
        </mat-form-field>
      </form>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary" (click)="salvar()">
        Salvar
      </button>
    </mat-card-actions>
  </mat-card>
</div>
